<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-area">
    <%= f.text_area :food, placeholder: "I just ate..." %>
  </div>
  <div class="form-field">
    <%= f.text_field :calories, placeholder: "Calories" %>
  </div>
  <div class="form-field last">
    <%= f.text_field :time, placeholder: "Time" %>
  </div>
  <div class="submit-btn">
    <%= f.submit "Save", :class => 'flog-btn' %>
  </div>
<% end %>
